<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>NSO Intro Webdemo</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static "css/nso_intro.css" %}">
</head>
<body>
        <h1>NSO Intro - Demo Web Application (written using Django framework)</h1>

        <a href="show_device_config/">Show Device Config</a><br>
        <a href="show_interface_config/">Show Interface Config</a><br>
        <a href="add_dns_service/">Add New Instance of the "DNS" Service</a><br>
</body>
</html>